.start_btn {
  font-family: var(--ff-primary);
  background-color: #f79901;
  color: #ffffff;
  width: 150px;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: 400px;
  cursor: pointer;
}
