.sectionContainer {
  height: 50px;
  width: 100%;
  padding: 0 1rem;
  position: absolute;
  margin-top: 114px;
  background-color: #ffff;
}
.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer {
  margin-top: 4.75rem;
  display: flex;
  align-items: center;
  /* 🔴 Debug in inspect element for correct measurements */
  justify-content: space-evenly;
  /* margin-left: 2.25rem; */
}
.primaryHeading {
  font-weight: var(--fw-bold);
  color: var(--f-secondary-color);
  font-size: var(--fs-secondary-heading);
}
.secondaryHeading {
  line-height: 30px;
  font-size: var(--fs-600);
  font-weight: var(--fw-medium);
  color: var(--fc-primary-color);
}
.fullStop {
  color: var(--fc-primary-color);
}

.content {
  line-height: 171%;
  /* line-height: 24px; */
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
  width: 38.1875rem;
  height: 7.875rem;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}
