.sectionContainer {
  padding: 0 1rem;
  max-width: 1920px;
  min-height: 628px;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.flexChild1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 11rem;
}
.flexChild2 {
  display: flex;
  flex: none;
  justify-content: center;
  margin-top: 3rem;
}
.headingContainer {
  padding: 0 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.primaryHeading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-secondary-heading);
  color: var(--fc-secondary-color);
  line-height: 24px;
}
.secondaryHeading {
  font-weight: var(--fw-medium);
  font-size: var(--fs-600);
  color: var(--fc-primary-color);
  line-height: 24px;
}
.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 6.7rem;
}
.listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.listItem {
  display: flex;
  gap: 0.875rem;
  align-items: center;
}
@media (max-width: 50em) {
  .flexContainer {
    flex-direction: column-reverse;
  }
  .headingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    margin-top: 4.5rem;
  }
  .flexChild1 {
    margin-top: -2rem;
  }
  .image {
    margin-top: -4.5rem;
  }
}

.fullStop {
  color: var(--fc-primary-color);
}
