.section_container {
  background-image: url("../public/Cover.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  min-height: 60vh;
  font-size: var(--fs-secondary-heading);
  background: var(--background-color-linear);
}
/* .imageContainer {
  height: 100%;
  width: 100%;
  z-index: -1;
} */

.fullStop {
  color: var(--color-primary);
}
